<div class="container" >
    <div class="">
        <h4 class="title ">Delete Program</h4>
        <p class="modalBody"> Are you sure do you want to delete <b>sdfdsgf</b> Program? All Assoicated Forms for the Program will also be deleted ?</p>
    </div>
    <div style="margin-top: 30px;">
        <button  type="button" class="createForm btn btn-secondary" (click)="deleteConfirmed()">
            <img class="addFormsIcon" alt="add" src="../../../../../assets/img/icons/trash.svg">
            <span class="createButtonText">Delete</span></button>
        <button type="button" class=" cancelButton btn btn-secondary" (click)="onCancel()">
        Cancel
        </button>
    </div>
</div>
