<!-- chat.component.html -->

<div class="fixed top-0 right-0">
    <div class="relative">
        <div class="sticky border h-full">
            <button (click)="toggleChat()" class="h-16 border-b w-16 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray"
                    aria-hidden="true" fit="" height="40%" width="40%" preserveAspectRatio="xMidYMid meet"
                    focusable="false">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155">
                    </path>
                </svg>
            </button>
            <div  class="flex  flex-col justify-evenly items-center">
                <button (click)="toggleChat()" *ngFor="let contact of contacts" class="w-10 m-2 h-10 p-1 rounded-full" (click)="setActiveUser(contact)">
                  <img [src]="contact.profileImg" alt="{{ contact.name }}" class="w-full h-full rounded-full" />
                </button>
              </div>
              

            <div *ngIf="isChatOpen" class="fixed top-0 right-0 h-full w-96 bg-white shadow-lg transform"
                [ngClass]="{'translate-x-full': !isChatOpen, 'translate-x-0': isChatOpen}" [@slideInOut]="'300ms'">
                <!-- Your chat content goes here -->

                <div class=" w-full">
                    <app-chatlook> <button (click)="toggleChat()"
                            class=" btn1 h-16 border-b w-16 flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </button>
                        <button (click)="toggleChat()"
                            class=" btn2 h-16 border-b w-16 flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </button>
                    </app-chatlook>
                </div>
            </div>
        </div>
    </div>
</div>