<div class="w-full border-t-2 border-b bg-white flex justify-center flex-col items-center">
    <div class=" max-w-wid w-div h-41  flex justify-between items-center">
        <div class="flex items-center">
            <div>
                <img width="65" class="rounded-full" src="/assets/user/login1.jpg" alt="">
             </div>
            <div class="p-3">
               <p class="text-4xl font-medium"> Welcome back, kaith!</p>
                <p class="text-gray-500 flex"> <img src="/assets/svgs/svg-export/svgexport-001.svg" alt=""> You have 2 new messages and 15 new tasks</p>
            </div>

        </div>
        <div class="mr-10 flex">
            <button class="bg-black text-white text-base p-2 rounded-full px-5 m-2 flex">
                <img class="pr-1" src="/assets/svgs/svg-export/svgexport-70.svg" alt="">
                Message
            </button>
            <button class="bg-blue-500 text-white text-base p-2 rounded-full px-5 m-2 flex">
                <img class="pr-1" src="/assets/svgs/svg-export/svgexport-71.svg" alt="">

                Settings
            </button>
        </div>
    </div>
    <div class=" relative z-10 max-w-wid w-div">
        <div class="bg-slate-100 border border-b-0 h-9 w-56 flex rounded-t-xl relative top-1   items-center justify-center">
            <a  href="">ACME Corp. Backend App 
         </a>
             <img src="/assets/svgs/svg-export/svgexport-12.svg" alt="">
         </div>
    </div>

</div>