/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin:0 ;
  margin-bottom: 0;
}
::ng-deep .mat-typography p {
  margin: 0;
}
.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0; /* Change the margin to 0 */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@layer components {
    .hamburger div:first-child {
      
    }
    .hamburger div:last-child {
   
    }
  }
.header-fonts{
  color: #64758b;
    font-size: 18px;
    font-weight: 600;
}

.f-18px{
  font-size: 18px;
}
.pl-30px{
padding-left:30px;
}

.pr-30px{
  padding-right: 30px;
}

.pb-125px{
  padding-bottom: 1.25rem;
}

.mb-15rem{
  margin-bottom: 1.5rem 
}

.ml-1rem{
  margin-left: 1rem;
}
.custom-overflow{
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-overflow::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

