/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  margin:0 ;
  margin-bottom: 0;
}
::ng-deep .mat-typography p {
  margin: 0;
}
.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0; /* Change the margin to 0 */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@layer components {
    .hamburger div:first-child {
      
    }
    .hamburger div:last-child {
   
    }
  }
.header-fonts{
  color: #64758b;
    font-size: 18px;
    font-weight: 600;
}

.f-18px{
  font-size: 18px;
}
.f-12px{
  font-size: 12px;
}
.pl-30px{
padding-left:30px;
}

.pr-30px{
  padding-right: 30px;
}

.pb-125px{
  padding-bottom: 1.25rem;
}

.mb-15rem{
  margin-bottom: 1.5rem 
}

.ml-1rem{
  margin-left: 1rem;
}
.custom-overflow{
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-overflow::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.g-20px{
  gap:20px;
}
.g-10px{
  gap:10px;
}
.border-black-500{
  border : 3px solid black;
}

.align-items-center{
  align-items: center;
}

.p-absolute{
  position :absolute;
}

.date-icon{
  top:-3px;
  right:0px;
}
.tecxt-center{
  text-align: center;
}

.text-black{
  color: #1e293b;
}

.border-dark{
  border-color: #70707052;
}

.px-1rem{
padding-left:1rem;
padding-right: 1rem;
}

.p-03px{
  padding: 0.3rem;
}
.pt-03px{
  padding-top:0.3rem;
  padding-bottom: 0.3rem;
}

.text-light-grey{
  color : #64758b
}

.w-div-70{
  width: 72vw;
}

.c-pointer{
  cursor: pointer;
}

.sub-headings{
  color: #64758b;
  font-weight: 600;
  font-size: 16px;
}

.sub-details{
  color: #475569;
  font-weight: 500;
  font-size: 14px;
}

.mx-1px{
  margin-left: 1px;
  margin-right: 1px;
}
